.features {
  padding-top: 40px;

  @media (min-width: $screen-tablet) {
    padding-top: 50px;
  }

  @media (min-width: $screen-desktop) {
    padding-top: 68px;
  }
}

.features__container {
  background-color: $gray-bg;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto;

  @media (min-width: $screen-desktop) {
    background-size: 2400px;
  }
}

.features__slogan {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  color: $page-blue;

  &:first-of-type {
    margin-bottom: 28px;
  }

  @media (min-width: $screen-tablet) {
    font-size: 40px;
    line-height: 47px;

    &:first-of-type {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin: 0 auto 28px;
      max-width: 350px;
    }
  }

  @media (min-width: $screen-desktop) {
    font-size: 50px;
    line-height: 60px;

    &:last-of-type {
      margin-bottom: 30px;
      max-width: 700px;
    }
  }
}

.features__list {
  margin: 0;
  padding: 113px 20px 317px;
  list-style: none;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center calc(100% + 43px);
  background-size: 157px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
  }

  @media (min-width: $screen-tablet) {
    padding: 95px 20px 41px 330px;
    min-height: 500px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 20px bottom;
    background-size: 268px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }
  }

  @media (min-width: $screen-desktop) {
    display: flex;
    justify-content: center;
    padding: 20px 10px 40px;
    background-image: none;
  }
}

.features__item {
  max-width: 420px;
  margin: 0 auto 31px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $screen-tablet) {
    margin-bottom: 35px;
    text-align: left;
  }

  @media (min-width: $screen-desktop) {
    width: 300px;
    margin-right: 22px;
    margin-bottom: 0;
    padding-top: 380px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    &:nth-of-type(1) {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: center 25px;
      background-size: 292px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }

    &:nth-of-type(2) {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: center 25px;
      background-size: 292px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &:nth-of-type(3) {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: center 25px;
      background-size: 292px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }
}

.feature__title {
  display: block;
  margin: 0 0 12px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: $text-dark;

  @media (min-width: $screen-desktop) {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 32px;
  }
}

.feature__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: $page-blue;

  @media (min-width: $screen-desktop) {
    font-size: 18px;
    line-height: 30px;
    padding: 0 30px;
  }
}
