.form {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-desktop) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__description {
  order: -5;
  margin: 0 0 2px;
  padding: 45px 10px 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
  color: $page-blue;

  @media (min-width: $screen-tablet) {
    margin: 0 auto;
    padding: 92px 10px 41px;
    max-width: 550px;
    font-size: 18px;
  }

  @media (min-width: $screen-desktop) {
    max-width: 800px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 32px 20px 42px;
  border: none;

  &:nth-of-type(2n) {
    position: relative;
    padding: 111px 20px 42px;
    background-color: $gray-bg;

    .form__legend {
      position: absolute;
      top: 37px;
      left: 0;
      width: 100%;
      padding: 0 50px;
      line-height: 18px;
    }
  }

  &:nth-of-type(3) {
    .form__legend {
      display: none;
    }
  }

  &:nth-of-type(4) {
    padding-top: 107px;
  }

  @media (min-width: $screen-tablet) {
    margin: 15px 20px 36px;
    border: 2px solid $border;

    &:nth-of-type(1) {
      order: -4;
    }

    &:nth-of-type(2) {
      margin-top: 20px;
      margin-bottom: 65px;
      padding: 43px 58px 49px;
    }

    &:nth-of-type(2n) {
      background-color: transparent;

      .form__legend {
        position: static;
        width: auto;
        padding: 0 25px;
      }
    }

    &:nth-of-type(3) {
      order: -2;
      padding: 31px 58px 26px;

      .form__legend {
        display: block;
        margin: 0;
        padding: 0 25px;
      }
    }

    &:nth-of-type(4) {
      order: -3;
      padding: 43px 60px 54px;
    }
  }

  @media (min-width: $screen-desktop) {
    margin: 15px 10px 36px;
    flex-basis: 100%;

    &:nth-of-type(1) {
      flex-basis: 50%;
      padding: 43px 35px 35px 8px;
    }

    &:nth-of-type(2) {
      padding-right: 0;
      padding-bottom: 14px;
    }

    &:nth-of-type(3) {
      padding: 28px 58px 13px;

      .form__textfield {
        margin-bottom: 0;
        width: 374px;

        &:first-of-type {
          margin-right: 72px;
        }
      }
    }

    &:nth-of-type(4) {
      margin: 30px 10px 37px 36px;
      padding: 44px 20px 53px 75px;
      flex-basis: 434px;

      .form__legend {
        padding: 0 5px;
      }
    }
  }
}

.form__fieldset--borderless {
  border: none;

  @media (min-width: $screen-tablet) {
    margin: 0;
  }
}

.form__box {
  @media (min-width: $screen-desktop) {
    display: flex;
    align-items: flex-start;
  }
}

.form__legend {
  @include formLabel();

  text-align: center;
}

.form__textfield {
  margin-bottom: 16px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $screen-tablet) {
    margin-bottom: 50px;
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 52px;
  }
}

.form__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__item {
  width: 280px;
  margin-bottom: 42px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $screen-desktop) {
    width: 270px;
  }
}

.form__list--radio {
  .form__item {
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__textarea {
  @media (min-width: $screen-tablet) {
    margin: 0 20px;
  }

  @media (min-width: $screen-desktop) {
    flex-basis: 100%;
    margin: 0 10px;
  }
}

.form__wrapper {
  padding: 0 20px;

  @media (min-width: $screen-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 67px;
    margin-bottom: 50px;
  }

  @media (min-width: $screen-desktop) {
    flex-basis: 100%;
    margin-top: 65px;
    margin-bottom: 2px;
    padding: 0 10px;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 35px;

  @media (min-width: $screen-tablet) {
    margin: 0;
    width: 300px;
  }

  @media (min-width: $screen-desktop) {
    font-size: 18px;
  }
}

.form__text {
  margin: 0 0 13px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: $page-blue;

  span {
    color: $page-pink;
  }

  @media (min-width: $screen-tablet) {
    margin: 0;
  }
}
