.main-navigation__box {
  position: relative;
  display: flex;
  align-items: center;
  height: 66px;
  padding: 0 20px;
  background-color: $black-opacity;
}

.main-navigation__box--active {
  background-color: $page-blue;
  box-shadow: inset 0 -1px 0 0 $text-dark;
}

.main-navigation__logo {
  width: 75px;
  height: 23px;
}

.main-navigation__toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.main-navigation__toggle:hover .main-navigation__toggle-icon {
  background-color: $page-pink;

  &::before {
    background-color: $page-pink;
  }

  &::after {
    background-color: $page-pink;
  }
}

.main-navigation__toggle:active .main-navigation__toggle-icon {
  background-color: $page-pink-opacity;

  &::before {
    background-color: $page-pink-opacity;
  }

  &::after {
    background-color: $page-pink-opacity;
  }
}

.main-navigation__toggle-icon {
  position: absolute;
  display: block;
  width: 50px;
  height: 4px;
  background-color: $text-light;
}

.main-navigation__toggle-icon::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-10px);
  content: "";
  width: 50px;
  height: 4px;
  background-color: $text-light;
  box-shadow: 0 2px 0 -1px $toggle-shadow;
}

.main-navigation__toggle-icon::after {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  content: "";
  width: 50px;
  height: 4px;
  background-color: $text-light;
  box-shadow: 0 -2px 0 -1px $toggle-shadow;
}

.main-navigation__toggle--active {
  right: 6px;

  .main-navigation__toggle-icon {
    width: 30px;
    background-color: transparent;

    &::before {
      width: 30px;
      transform: rotate(-45deg);
      border-radius: 1px;
      box-shadow: none;
    }

    &::after {
      width: 30px;
      transform: rotate(45deg);
      border-radius: 1px;
      box-shadow: none;
    }
  }
}

.main-navigation__toggle--active:hover .main-navigation__toggle-icon {
  background-color: transparent;
}

.main-navigation__toggle--active:active .main-navigation__toggle-icon {
  background-color: transparent;
}

.main-navigation__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation__list--show {
  display: block;
}

.main-navigation__link {
  display: block;
  padding: 16px 20px;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: $text-light;
  box-shadow: inset 0 1px 0 0 #485461, inset 0 -1px 0 0 $black-opacity;

  &[href]:hover {
    color: $page-pink;
  }

  &[href]:active {
    color: $page-pink-opacity;
  }
}
