.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;

  @media (min-width: $screen-tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 20px;
  }

  @media (min-width: $screen-desktop) {
    padding: 67px 10px;
  }
}

.page-footer__logo {
  background-color: $page-pink;
  margin-bottom: 38px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 20px;
  }
}

.page-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 38px;
  padding: 0;
  list-style: none;

  @media (min-width: $screen-tablet) {
    max-width: 300px;
    margin-bottom: 0;
  }
}

.page-footer__item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}
