.page-header {
  background-color: $page-blue;
}

.page-header--inner {
  .page-header__main-navigation {
    margin-bottom: 0;
  }

  .page-header__wrapper {
    padding: 31px 20px 0;
    min-height: 170px;
  }

  @media (min-width: $screen-tablet) {
    .page-header__wrapper {
      height: 330px;
      padding: 73px 20px 50px;
    }
  }
}

.page-header__main-navigation {
  margin-bottom: 396px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 0;
  }
}

.page-header__wrapper {
  padding: 28px 20px 30px;
  background-color: $page-darkblue;

  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 95px 320px 110px 20px;
    background-color: transparent;
  }
}

.page-header__slogan {
  display: none;

  @media (min-width: $screen-tablet) {
    display: block;
    margin: 0 0 32px 50px;
    max-width: 200px;
    font-size: 40px;
    line-height: 47px;
    font-weight: 300;
    text-align: center;
    color: $text-light;
  }
}

.page-header__button {
  margin: 0 auto 34px;
  width: 281px;

  @media (min-width: $screen-tablet) {
    margin: 0 0 48px;
    width: 300px;
  }
}

.page-header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;

  @media (min-width: $screen-tablet) {
    margin-left: 47px;
    margin-bottom: 34px;
  }
}

.page-header__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

.page-header__link {
  display: block;
  background-color: $page-pink;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-header__link--apple {
  width: 47px;
  height: 56px;
}

.page-header__link--google {
  width: 43px;
  height: 47px;
}

.page-header__link--windows {
  width: 44px;
  height: 41px;
}

.page-header__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  color: $text-light;

  @media (min-width: $screen-tablet) {
    max-width: 300px;
    font-size: 18px;
  }
}

.page-header__title {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: $text-light;

  @media (min-width: $screen-tablet) {
    margin: 0 auto;
    max-width: 480px;
    font-size: 50px;
  }
}
