.research {
  @media (min-width: $screen-desktop) {
    background-color: $gray-bg;
  }
}

.research__wrapper {
  display: none;
  margin: 0 auto;
  min-width: $screen-mobile;
  max-width: $screen-desktop;

  @media (min-width: $screen-tablet) {
    position: relative;
    display: block;
    min-height: 350px;
    padding: 96px 34px 50px 329px;
    background-image: url("../../img/timer-icon.svg");
    background-repeat: no-repeat;
    background-size: 238px 276px;
    background-position: 20px 60px;

    &::before {
      position: absolute;
      top: 115px;
      left: 39px;
      content: "";
      width: 202px;
      height: 202px;
      border: 13px solid $page-pink;
      border-radius: 50%;
    }

    &::after {
      position: absolute;
      top: 155px;
      left: 85px;
      content: "24";
      font-size: 96px;
      font-weight: bold;
      color: $page-pink;
    }
  }

  @media (min-width: $screen-desktop) {
    padding: 115px 50px 114px 376px;
    background-color: $gray-bg;
    background-size: 298px 345px;
    background-position: 10px 27px;

    &::before {
      top: 95px;
      left: 32px;
      width: 253px;
      height: 253px;
      border-width: 16px;
    }

    &::after {
      top: 147px;
      left: 89px;
      font-size: 120px;
    }
  }
}

.research__title {
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: $text-dark;

  @media (min-width: $screen-desktop) {
    margin-bottom: 20px;
  }
}

.research__description {
  margin: 0 0 11px;
  font-size: 14px;
  line-height: 24px;
  color: $page-blue;

  @media (min-width: $screen-desktop) {
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 30px;
  }
}

.research__link {
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  color: $page-pink;

  &:hover {
    color: $page-blue;
    text-decoration: none;
  }

  &:active {
    color: rgba($page-blue, 0.3);
  }

  @media (min-width: $screen-desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}
