.research {
  display: none;

  @media (min-width: $screen-tablet) {
    display: block;
    padding: 96px 34px 50px 329px;
  }

  @media (min-width: $screen-desktop) {
    padding: 120px 50px 114px 376px;
    background-color: $gray-bg;
  }
}

.research__title {
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: $text-dark;

  @media (min-width: $screen-desktop) {
    margin-bottom: 20px;
  }
}

.research__description {
  margin: 0 0 11px;
  font-size: 14px;
  line-height: 24px;
  color: $page-blue;

  @media (min-width: $screen-desktop) {
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 30px;
  }
}

.research__link {
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  color: $page-pink;

  &:hover {
    color: $page-blue;
    text-decoration: none;
  }

  &:active {
    color: rgba($page-blue, 0.3);
  }

  @media (min-width: $screen-desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}
