.reviews {
  padding: 43px 0 10px;

  @media (min-width: $screen-tablet) {
    margin-bottom: -5px;
    padding: 74px 0 0;
  }

  @media (min-width: $screen-desktop) {
    position: relative;
    padding: 184px 50px 20px;
    background-image: url("../img/quotes-icon.svg");
    background-repeat: no-repeat;
    background-position: center 70px;
    background-size: 79px 63px;
  }
}

.reviews__list {
  margin: 0 0 5px;
  padding: 0;
  list-style: none;
}

.reviews__item {
  margin-bottom: 20px;
}

.reviews .reviews__controls {
  @media (min-width: $screen-desktop) {
    display: none;
  }
}
