/* Sizes */

$screen-mobile: 320px;
$screen-tablet: 320px;
$screen-desktop: 320px;

/* Colors */

$text: #444444;
$text-dark: #000000;
$text-light: #ffffff;

$page-green: #63d1bb;
$page-green-hover: #59d5bc;
$page-darkgreen: #56c3b2;
$page-darkgreen-hover: #46c1ae;
$gray-bg: #f1f1f1;
$border-light: #ececec;
